<div class="grid grid-cols-3 gap-5 justify-items-stretch content-evenly place-items-center m-5">
{{#each playlist}}
<div>
  <a href="/collection/{{id}}" class="block max-w-sm p-6 flex items-stretch text-gray-900 bg-neutral-100 border border-gray-300 rounded-lg shadow hover:bg-green-800 hover:text-white">
    <h5 class="mb-2 text-2xl font-bold tracking-tight hover:text-white">{{user.name}}'s playlist</h5>
    <p class="font-normal">Top song: {{song_name.[1]}} by {{song_artist.[1]}}.</p>
  </a>
</div>
{{/each}}
</div>