<div>
    <h1>This is the Magnifi header</h1>
</div>


    {{!-- <nav>
        <a href="/">WelcomePage</a>
        {{#if loggedIn}}
        <button id="logout" class="btn">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav> --}}