
<div>
  <h2 class="text-4xl font-semibold text-gray-900 underline pb-5">Songs:</h2>
  <div class="">
    <ul>
  {{#each playlistData.song_name}}
    <li>{{this}}</li>
  {{/each}}
    </ul>
  </div>
</div>

<div>
  <h2 class="text-4xl font-semibold text-gray-900 underline pb-5">Artists:</h2>
  <div>
    <ul>
  {{#each playlistData.song_artist}}
    <li>{{this}}</li>
  {{/each}}
    </ul>
  </div>
</div>
