<section class=" playlistData">
    <div class="card">
        <table class="songTable-auto">
        <thead>
          <tr>
            <th>Song</th>
            <th>Artist</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Poker Face</td>
            <td>Lady Gaga</td>
          </tr>
          <tr>
            {{!-- <td>{{song_name}}</td>
            <td>{{artist_name}}</td>
          </tr>
          <tr>
            <td>{{song_name}}</td>
            <td>{{artist_name}}</td> --}}

          </tr>
        </tbody>
      </table>
    </div>
</section>