<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magnifi</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" />
</head>

<body>
    {{>header}}
    <div class="body">
        {{{body}}}
    </div>
<<<<<<< HEAD
    {{!-- {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}} --}}
{{!-- <script src="/js/script.js"></script> --}}
=======
    
>>>>>>> bef14279d0ce7a2898788b40159941974ea89539
    {{>footer}}
</body>

</html>