    <div class="container">
    <div id="login">
        <h2>Log in with</h2>
    <button id="spotify-button" class="login-btn"><img src=" https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Black.png"/></button>
    <button id="get-songs-button" class="rounded-md py-2.5 px-3 bg-green-400">Get My Songs</button>
    <button id="collection-button" class="rounded-md py-2.5 px-3 bg-green-400">See my collection</button>
    </div>
    </div>
    