          <div class="bg-white">
            <div id="login" class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">Welcome to Magnifi!</h1>
                <p class="mb-5 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48">To get started, use the button below to link your spotify</p>
                <div class="inline-flex justify-center items-center">
                  <button id="spotify-button" class="login-btn py-2 px-2"><img src=" https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Black.png"/></button>
                </div>
                <div>
                  <p class="mb-7 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48">Now, use the button below to get your top songs!</p>
                  <button id="get-songs-button" class="rounded-md py-5 px-5 text-3xl font-bold text-center text-black bg-green-500 hover:bg-neutral-500 hover:text-gray-50">Get My Songs</button> 
                </div>
            </div>
          </div>

        <div class="w-full p-4 text-center bg-gray-50 border border-gray-200 rounded-lg shadow sm:p-8">
            <h5 class="mb-2 text-3xl font-bold text-gray-900">Not a spotify user?</h5>
            <p class="mb-5 text-base text-gray-500 sm:text-lg">No worries! Go straight to Magnifi browse to explore top song playlists posted by others!.</p>
            <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                <a href="/collection" class="text-green-600 hover:underline font-medium text-lg inline-flex items-center">Magnifi browse!
                  <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
              </a>
            </div>
        </div>


<script src="/js/script.js"></script>