    <section class="userResults py-5">
        <div class="magazineContainer mx-auto h-[454px] max-w-[341px] md:h-[682px] md:max-w-[512px]">
          <div class="userPhoto flex justify-end"><img class="py-10 my-4 h-30 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="Rounded avatar"></div>
        </div>
    </section> 

  <section class="buttonGroup flex justify-center py-10">
    <div class="inline-flex rounded-md shadow-sm">
      <a href="#" class="px-4 py-2 text-sm font-medium text-green-900 bg-white border border-gray-200 rounded-l-lg hover:bg-green-500 hover:text-gray-50">
      Post! 
      </a>
      <a href="#" class="px-4 py-2 text-sm font-medium text-green-900 bg-white border border-gray-200 rounded-r-md hover:bg-green-500 hover:text-gray-50">
      Save to My Collection
    </a>
    </div>
  </section>