
    <Section class="userResults py-5">
        <div class="mx-auto border-green-800 bg-gray-200 border-[14px] rounded-[2.5rem] h-[454px] max-w-[341px] md:h-[682px] md:max-w-[512px]">
        <div><img class="py-5 px-4 h-30 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="Rounded avatar"></div>
        </div>
        </div>
    </Section>